:root {
  --peach: #ffbfbf;
  --lime: #e6fa94;
  --skyblue: #a4e2fb;
  --orange: #fed9bf;
  --mint: #a1f7cf;
  --purple: #dcbdff;
  --pink: #ffd0f8;
  --blue: #aecaff;
  --yellow: #fbefc4;
  --yellowgreen: #c7feb4;

  --gray-1: #f2f2f2;
  --gray-2: #e9e9e9;
  --gray-3: #dcdcdc;
  --gray-4: #cfcfcf;
  --gray-5: #c1c1c1;
  --black: #1e1e1e;
  --white: #ffffff;

  --bg: #fafafa;
  --buttononbg: #dcdcdc;
}
